#ui {
	/**
	 * The amount of columns to display
	 * on the favorites sidebar.
	 * A value of zero will disable it.
	 */
	max-favorite-columns: 8;

	/**
	 * The amount of columns to display
	 * on the index sidebar.
	 * A value of zero will disable it.
	 */
	max-index-columns: 8;

	/**
	 * The unit to display fluids as.
	 */
	fluid-unit: millibuckets;

	/**
	 * Whether to use the batched render system.
	 * Batching is faster, but may have incompatibilities
	 * with shaders or other mods.
	 */
	use-batched-renderer: true;
}