#ui {
	max-favorite-columns: 8;
	max-index-columns: 8;
	fluid-unit: millibuckets;
	use-batched-renderer: true;
	append-mod-id: true;
	append-item-mod-id: true;
	right-sidebar-theme: modern;
	search-sidebar-focus: index;
	empty-search-sidebar-focus: craftables;
	recipe-book-action: toggle-visibility;
}